<div class="container d-flex justify-content-center align-items-center flex-column m-5 p-3">
  <h1>Stupid Coach</h1>
  <br>
  <h2>Ask your question...</h2>
  <nav class="navbar width-100vw">
    <form action="/answer" data-turbo="false">
      <input type="text" name="answer">
      <input type="submit" value="Ask!">
    </form>
  </nav>
</div>
